.tile_number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  color: black;
  padding: 1px 4px;
  text-shadow: none;
  background: rgba(213,213,213,0.7);
  font-size: 8px;
}
